.info-section {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#statistics-section {
    justify-content: space-between;
    width: 100%;
}

#statistics-graph {
    margin-left: 2%;
    margin-right: 2%;
    width: 46%;
}

.twitter-timeline {
    height: 50vw !important;
}
.collapse.show {
    overflow-x: scroll;
}

#statistics {
    text-align: center;
}

#global-covid19-data {
    height: 70vh;
    overflow-y: scroll;
    font-size:14px
}

#global-covid19-data td {
    padding: 3px;
    vertical-align: middle;
}

#patients-by-hospital-graph ,#patients-by-doctor-graph {
    height: 60vh;
}

svg g {
    font-size: 15px;
    font-weight: bold;
}

#statistics-title {
    padding: 4px;
    text-shadow: 2px 1px grey;
}

#statistics-content {
    padding: 0px 5px;
    column-count: 2;
    column-gap: 20px;
}

#graphs {
    overflow-x: scroll;
}