.info-section {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.video-div {
    width: 32%;
}

#global-covid19-data {
    height: 500px;
    overflow-y: scroll;
    margin: 0 20px 0 0;
    width: 65%;
}
