@font-face {
    font-family: "poppings";
    src: url("../lib/fonts/poppings/Poppins-Regular.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("../lib/fonts/roboto/Roboto-Regular.ttf");
}

#header {
    margin-bottom: 2%;
}

#main-nav {
    background-image: linear-gradient(to right, #80d0c7, #13547a) !important;
}

.nav-icon {
    margin-right: 2%;
}

#main-nav .nav-item {
    width: 11%;
    border-radius: 10px;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#main-nav .nav-item:hover, #main-nav .nav-item:focus {
    background-color: #317C82;
}

#medical-item {
    width: 18% !important;
}
 
#home-item {
   margin-right: 2%;
}

body {
    font-family: roboto;
    background-color: #f5f6fa;
}