#header {
    margin-bottom: 2%;
}

#main-nav {
    background-color: #005D65 !important;
}

.nav-icon {
    margin-right: 2%;
}

.nav-item {
    width: 11%;
}

#medical-item {
    width: 18%;
}
 
#home-item {
   margin-right: 2%;
}