@font-face {
    font-family: "poppings";
    src: url("../lib/fonts/poppings/Poppins-Regular.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("../lib/fonts/roboto/Roboto-Regular.ttf");
}

#header {
    margin-bottom: 2%;
}

#main-nav {
    background-color: #61b7c3 !important;
}

#body-container {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.nav-icon {
    margin-right: 2%;
}

.card {
    border: none;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 3%;
}

#main-nav .nav-item {
    width: 110px;
    border-radius: 10px;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#navbar.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

#main-nav .nav-item:hover, #main-nav .nav-item:focus {
    background-color: #10a7bd;
}

#medical-item {
    width: 18% !important;
}

#home-item {
    margin-right: 2%;
}

body {
    font-family: roboto;
    background: #eff3f6;
}

.form-title {
    width: 100%;
    margin-left: 44%
}

#backBtn {
    margin-top: 5px;
}