@model BarSi.Models.Hospital

@{
    ViewData["Title"] = "Edit Hospital";
}

<h1>Edit Hospital</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <select name="City" class="form-control" asp-items="ViewBag.Cities"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-info" />
            </div>
        </form>
        <div id="backBtn">
            <a asp-action="Index" class="btn btn-outline-info">Back to Hospitals</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
